/* Reset CSS */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    min-width: 550px;
    max-width: 550px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    margin: 0 auto;
    font-weight: 300;
}

/* Content Styling */
.content {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

/* Todo App Styling */
.todo-app {
    align-content: center;
    margin: 80px 0 10px 0;
}

/* Responsive Layout Styling */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Header Styling */
h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(182, 67, 67);
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 35px;
}

/* Todo List Styling */
ul.todo-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

/* Todo Item Styling */
li.toDo-item {
    font-size: 20px;
    color: #272727;
    background-color: white;
}

/* Input Placeholder Styling */
#todo-input::placeholder {
    margin: 0;
    width: 100%;
    font-size: 24px;
    line-height: 1.4em;
    padding: 4px;
    font-weight: 300;
    box-sizing: border-box;
    font-style: italic;
    color: #989898;
}

/* Input-bar Styling */
.todo-input {
    padding: 0.5rem;
    font-size: 24px;
    background-color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 15px 150px 0 rgba(0, 0, 0, 0.1);
}

/* Input and Todo List Common Styling */
#todo-input,
.todo-list {
    align-items: start;
    padding: 16px 60px 16px 50px; /* Top, Right, Bottom, Left */
}

/* Input Focus Styling */
#todo-input:focus {
    box-shadow: 2px 2px 8px rgb(136, 49, 49);
    outline: none;
}

/* Todo Form Styling */
.todo-form {
    width: 550px;
    max-width: 100%;
    position: relative;
}

/* Todo Form Elements Styling */
.todo-form input {
    width: 100%;
}

.todo-form button {
    background-color: white;
    height: 100%;
    position: absolute;
    left: 0;
}

/* Form and Input Common Styling */
form,
.todo-input {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

/* Todo Container Styling */
.todo-container {
    display: flex;
}

/* Todo List Styling */
.todo-list {
    background-color: white;
}

/* Todo Styling */
.toDo {
    display: flex;
    list-style-type: none;
    font-size: 25px;
    color: rgb(109, 109, 109);
    background-color: white;
    justify-content: flex-start;
}

/* Todo Item Styling */
.toDo-item {
    font-size: 25px;
    padding: 10px;
    color: #272727;
}

/* Completed Todo Styling */
.completed {
    text-decoration: line-through;
    color: rgb(182, 182, 182);
}

/* Choices Bar and Filters Styling */
.choices-bar,
.filters {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: white;
}

/* Filter Styling */
.filters>li>p,
.filters>li>button {
    margin: 10px;
    padding: 5px;
    font-family: inherit;
    background-color: white;
    box-shadow: none;
    border-color: transparent;
    font-size: 15px;
    border-radius: 3px;
    border-width: 1px;
    outline: none;
}

/* Hover Effect for Filter Button */
.filters>li>button:hover {
    border-radius: 3px;
    border: 1px solid rgba(231, 0, 0, 0.658);
    border-radius: 3px;
}

/* Remove Button Styling */
.remove-button {
    font-size: 20px;
    margin-left: auto;
    border: none;
    background-color: white;    
}

.clear-completed {
    display: none;
}

/* Blue Button Styling */
.blue-button {
    border: none;
    font-size: 25px;
    padding: 5px;
}

/* Edit Checkbox Styling */
.editCheckbox {
    height: 20px;
    width: 20px;
    margin: auto;
    padding-right: 5px;
}

/* Media Query for Responsive Styles */
@media (min-width: 565px) {
    body {
        min-width: 550px;
        max-width: 550px;
    }

    .todo-form {
        width: 550px;
    }

    .todo-form input {
        width: calc(100% - 60px);
    }
}