* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 230px;
    max-width: 550px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #111111;
    margin: 0 auto;
    font-weight: 300;
}

.todo-app {
    align-content: center;
    margin: 80px 0 10px 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(182, 67, 67);
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 35px;
}

/* Hela content-rutan */
.content {
    min-width: 230px;
    max-width: 550px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

/* Boxen alla tasks hamnar i  */
ul.todo-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

/* Listobjektet som skapas */
li.toDo-item {
    font-size: 20px;
    color: #272727;
    background-color: white;
}

#todo-input::placeholder {
    /* Styling för placeholder-texten i input-fältet */
    margin: 0;
    width: 100%;
    font-size: 24px;
    line-height: 1.4em;
    padding: 4px;
    font-weight: 300;
    box-sizing: border-box;
    font-style: italic;
    color: #989898;
}

#todo-input,
.todo-list {
    /* Styling för input-box */
    align-items: start;
    padding: 16px 60px 16px 30px;
        /* Padding värden: 1. Topp, 2. Höger, 3. Botten, 4. Vänster*/
}

#todo-input:focus {
    /* Styling för input-box är den är markerad*/
    box-shadow: 2px 2px 8px rgb(136, 49, 49);
    outline: none;
}

.todo-form{
    width: 550px;
    max-width: 100%;
    position: relative;
}

.todo-form input{
    width: 100%;
}

.todo-form button{
    background-color: white;
    height: 100%;
    position: absolute;
    left: 0;
}



form,
.todo-input {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.todo-input {
    padding: 0.5rem;
    font-size: 24px;
    background-color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 15px 150px 0 rgba(0, 0, 0, 0.1);
}

.todo-container {
    display: flex;
    /* Blir en skum skugga om det inte är flex, vet ej varför */
}

.todo-list {
    background-color: white;
}

.toDo {
    display: flex;
    list-style-type: none;
    font-size: 25px;
    color: rgb(109, 109, 109);
    background-color: white;
}

.toDo-item {
    font-size: 25px;
    padding: 10px;
    color: #272727;
}

.completed {
    text-decoration: line-through;
    color: rgb(182, 182, 182);
}

.choices-bar,
.filters {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.filters>li>p,
.filters>li>button {
    margin: 7px;
    font-family: inherit;
    background-color: white;
    font-size: 15px;
    border-radius: 3px;
    border-width: 0px;
    outline: none;
}

/* Korrigera den röda färgen */
.filters>li>button:hover {
    border-color: #CE4646;
    border-radius: 3px;
    border-width: 1px;
}

.remove-button {
    font-size: 20px;
    margin-left: auto;
    border: none;
    background-color: white;
}

/* Rätta till placering och storlek */
.blue-button {
    border: none;
    font-size: 20px;
    padding: 5px;
}

.editCheckbox {
    height: 20px;
    width: 20px;
    margin: auto;
    padding-right: 5px;
}